_site
.sass-cache
.jekyll-metadata
_config.dev.yml
node_modules
*.map
.idea
resources/metadata_process_scripts/__pycache__/modeling.cpython-38.pyc
/resources/metadata_process_scripts/_datasets_arch(24012025)
/resources/metadata_process_scripts/md_new

resources/metadata_process_scripts/sources/2024_LivePeople PROJECT Metadata.xlsx
/resources/metadata_process_scripts/sources/2024-LivePeople_Metadata_Description-v2.xlsx
resources/metadata_process_scripts/sources/dataset_dir.txt
/resources/metadata_process_scripts/sources/list_of_datasets.csv
/resources/metadata_process_scripts/sources/dataset_dir_mapping.csv
/resources/metadata_process_scripts/sources/dataset-download-request-sample.json
/resources/metadata_process_scripts/filter_DiversityOne.py
